.example-spacer {
  flex: 1 1 auto;
}

mat-drawer-container {
  height: 100%;
  position: static;
}

mat-drawer,
mat-drawer-content {
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.25, .8, .25, 1);
}

mat-drawer {
  width: 250px;
  background-color: #3f51b5;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%2373adff' stroke-width='100' stroke-opacity='0' %3E%3Ccircle fill='%238ca5ff' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23859cf2' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%237e93e5' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23768ad8' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%236f81cb' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%236879bf' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%236170b2' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%235a67a5' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23535e98' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%234b558b' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23444c7e' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%233d4371' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23363a64' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%232f3258' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2328294b' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2320203e' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23191731' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23120e24' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  transition-property: width;

  &.sidenav-collapsed {
    width: 100px;

    ul li {
      justify-content: center;
    }

    .mat-icon {
      font-size: 30px;
    }

  }

  .sidenav-header {
    // background-color: #000000;
    height: 64px;
    display: grid;
    justify-content: center;
    align-items: center;

    span {
      font-size: 2em;
      color: #ffffff;
    }
  }

  ul {
    padding: 0;

    li {
      display: flex;
      justify-content: normal;
      align-items: end;
      color: #ffffff;
      list-style: none;
      cursor: pointer;
      margin: 10px;
      padding: 10px;
      // background-color: #000000;
      border-radius: 5px;

      .mat-icon {
        margin-right: 5px;
      }
    }
  }
}

mat-drawer-content {
  transition-property: transform, margin-left, margin-right;

  &.sidenav-collapsed {
    margin-left: 100px !important;
  }
}

mat-card {
  margin: 10px;
}

@media (max-width: 600px) {
  mat-toolbar {
    flex-direction: row-reverse !important;
  }
}

.logo {
  width: 100%;
  height: 100px;
  margin-top: -10px;
}
